<!DOCTYPE html>
<html>
<head>
    <title>Posts List</title>
</head>
<body>
    <h1>All Posts (Page <%= page %> of <%= totalPages %>)</h1>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <b><%= post.user %></b>: <%= post.content %>
                <% if (post.imageUrl) { %>
                    <br><img src="<%= post.imageUrl %>" width="200"/>
                <% } %>
            </li>
        <% }); %>
    </ul>

    <div>
      <% if (page > 1) { %>
        <a href="/posts-view?page=<%= page - 1 %>&pageSize=<%= pageSize %>">Previous</a>
      <% } %>
      <% if (page < totalPages) { %>
        <a href="/posts-view?page=<%= page + 1 %>&pageSize=<%= pageSize %>">Next</a>
      <% } %>
    </div>
</body>
</html>
